.notification {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 400px;
    height: 300px;

    &__header,
    &__section {
        margin-left: 2rem;
    }

    .MuiAvatar-root {
        margin-right: 1rem;
    }
}
