@import '../../asserts/common.scss';

.table {
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid $light-color;
    border-radius: $border-radius;
    table-layout: auto;
    white-space: nowrap;
    &__col--wrap {
        white-space: normal;
    }
    th {
        background-color: $light-color;
    }
    &__col {
        padding: 1rem;
    }
}

@media screen and (max-width: 769px) {
    .table {
        &__col {
            display: none;
        }

        &__col--wrap {
            display: block;
        }
    }
}