@import '../../asserts/common.scss';

.donate-card {
    margin-top: 2rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(52, 47, 145) 0%, rgb(46, 46, 136) 40%, rgba(40, 84, 151, 0.644) 100%);
    color: $light-color;
    padding: 4rem 2rem;
    border-radius: $border-radius;
    &__title {
        color: $light-color;
    }
    .btn {
        color: $light-color;
    }
}

@media screen and (max-width: 769px) {
    .donate-card {
        padding: 1rem;
        &__title {
            display: none;
        }
        &__content {
            display: none;
        }
    }
}
