@import '../../asserts/common.scss';

.page {
    &__container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__tool {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 2rem;
        &--left,
        &--right {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
        &--left > * {
            margin-right: 1rem;
        }
        &--right > button {
            margin-left: 1rem;
        }
    }
}
.tool {
    margin-top: 2rem;
    @include flexbox(center, space-between, nowrap, row);
    &--left,
    &--right {
        @include flexbox(flex-start, flex-start, nowrap, row);
    }
    .search__input {
        border: 1px solid $light-color;
        border-radius: $border-radius;
        margin-right: 1.5rem;
        i {
            padding-left: 1rem;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
}
