@import '../../asserts/common.scss';

.menu-list {
    margin-top: 2rem;
    width: 100%;
    @include flexbox(flex-start, flex-start, nowrap, column);
    &--header {
        margin-bottom: 0.6rem;
        color: $secondary-color;
    }

    &__link {
        @include flexbox(center, flex-start, nowrap, row);
        cursor: pointer;
        outline: none;
        text-align: center;
        border: 0;
        background-color: transparent;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        border-radius: $border-radius;
        width: -webkit-fill-available;
        svg {
            margin-right: 0.5rem;
            background-color: $light-color;
            padding: 1rem;
            border-radius: $border-radius;
        }
    }
}

@media screen and (max-width: 769px) {
    .menu-list{
        &__link {
            padding: 0.5rem 0;
        }
    }
}